body {
  margin:0;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-weight:200;
}
#wordcloud {
  height:600px;
  width:600px;
  position:relative;
  float:left;
}

#metadata {
  float:left;
  margin-left:100px;
  margin-top:80px;
}

.word {
  position: absolute;
}
.word:hover {
  cursor:pointer;
}
  
.word.green {
  color: green;
}

.word.red {
  color: red;
}

.word.grey {
  color: grey;
}

.word.size-1 {
  font-size:14px;
}
.word.size-2 {
  font-size:18px;
}
.word.size-3 {
  font-size:22px;
}
.word.size-4 {
  font-size:26px;
}
.word.size-5 {
  font-size:30px;
}
.word.size-6 {
  font-size:34px;
}
